@media (max-width: 600px) {
    .blog-content-box {
        width: 95% !important;
    }

    .blog-title {
        font-size: 32px !important;
    }

    .blog-desc {
        margin-top: 15px !important;
        font-size: 20px !important;
    }

    .blog-extra {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
}